

/* Style the navigation menu */
#persons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style the navigation links */
#persons li a {
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#persons li a:hover {
    background-color: #eee;
}